<h1>SmartDuka POS</h1>

<div style="display: flex; gap: 30px;">

    <!-- PRODUCT GRID -->
    <div style="width: 60%;">
        <h3>Products</h3>

        <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">

            {% for product in products %}
                <form method="post" style="border: 1px solid #ccc; padding: 10px;">
                    {% csrf_token %}

                    <h4>{{ product.name }}</h4>
                    <p>Stock: {{ product.stock_quantity }}</p>
                    <p>Price: {{ product.selling_price }}</p>

                    <input type="hidden" name="product" value="{{ product.id }}">
                    <input type="hidden" name="quantity" value="1">

                    <button type="submit">
                        Add (+1)
                    </button>
                </form>
            {% endfor %}

        </div>
    </div>

    <!-- CART -->
    <div style="width: 40%;">
        <h3>Cart</h3>

        {% if cart %}
        <table border="1" cellpadding="5" width="100%">
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>Action</th>
            </tr>

            {% for key, item in cart.items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.qty }}</td>
                <td>
                    <a href="{% url 'remove_from_cart' key %}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>Total: {{ total }}</h3>

        <a href="{% url 'checkout' %}">
            <button style="width: 100%;">Checkout</button>
        </a>

        <br><br>

        <a href="{% url 'clear_cart' %}">
            <button style="width: 100%;">Clear</button>
        </a>

        {% else %}
            <p>Cart is empty</p>
        {% endif %}
    </div>

</div>
