{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-4 fw-bold">SmartDuka</h1>

    <p class="lead mt-3">
        Inventory, Sales and Credit Management System for Small Businesses.
    </p>

    <p class="mt-3">
        Track stock, manage customer credit, record sales, and understand your real profit.
    </p>

    <a href="{% url 'pos_login' %}" class="btn btn-primary btn-lg mt-4">
        Login
    </a>

</div>

{% endblock %}
