{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4">SmartDuka Dashboard</h2>

    <!-- ALERT BANNER -->
    {% if low_stock_count > 0 %}
    <div class="alert alert-danger">
        🚨 {{ low_stock_count }} product(s) need reordering!
    </div>
    {% endif %}

    <!-- KPI Cards -->
    <div class="row">

        <div class="col-md-3">
            <div class="card text-bg-primary mb-3">
                <div class="card-body">
                    <h5>Total Sales</h5>
                    <h3>{{ total_sales_count }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-success mb-3">
                <div class="card-body">
                    <h5>Revenue Today</h5>
                    <h3>{{ total_revenue }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-warning mb-3">
                <div class="card-body">
                    <h5>Profit Today</h5>
                    <div>
                        <h6>Expected Profit (If All Credit is Paid)</h6>
                        <h7>{{ expected_profit }}</h7>
                    </div>
                    
                    <div>
                        <h6>Realized Profit (Cash Profit Only)</h6>
                        <h7>{{ realized_profit }}</h7>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-danger mb-3">
                <div class="card-body">
                    <h5>Credit Sales</h5>
                    <h3>{{ total_credit }}</h3>
                </div>
            </div>
        </div>

    </div>

    <!-- Cash Collected Section -->
    <div>
        <h3>Cash Collected Today</h3>
        <h2>{{ cash_collected }}</h2>

        <p>Cash Sales: {{ cash_sales }}</p>
        <p>Mobile Money: {{ mobile_sales }}</p>
    </div>

    <!-- Total Outstanding Credit Section -->
    <div>
        <h3>Total Outstanding Credit</h3>
        <h2>{{ total_outstanding_credit }}</h2>
    </div>

    <!-- Top Products Section -->
    <div class="card mt-4">
        <div class="card-header">
            Top Selling Products Today
        </div>
        <div class="card-body">

            <ul class="list-group">
                {% for item in top_products %}
                    <li class="list-group-item d-flex justify-content-between">
                        {{ item.product__name }}
                        <span class="badge bg-primary">
                            Qty: {{ item.total_qty }}
                        </span>
                    </li>
                {% empty %}
                    <li class="list-group-item">No sales yet today</li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <!-- Top Customers Section -->
    <div class="card mt-4">
        <div class="card-header">
            Top Customers Today
        </div>
        <div class="card-body">

            <ul class="list-group">
                {% for c in top_customers %}
                    <li class="list-group-item d-flex justify-content-between">
                        {{ c.customer__name }}
                        <span class="badge bg-success">
                            {{ c.total_spent }}
                        </span>
                    </li>
                {% empty %}
                    <li class="list-group-item">No customer activity today</li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <!-- Hourly Sales Section -->
    <div class="card mt-4">
        <div class="card-header">
            Hourly Sales Trend
        </div>
        <div class="card-body">

            <ul class="list-group">
                {% for h in hourly_sales %}
                    <li class="list-group-item d-flex justify-content-between">
                        Hour {{ h.hour }}
                        <span class="badge bg-dark">
                            {{ h.total }} sales
                        </span>
                    </li>
                {% empty %}
                    <li class="list-group-item">No sales data yet</li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <!-- Low Stock Section -->
    <div class="card mt-4">
        <div class="card-header">
            ⚠️ Low Stock Products
        </div>

        <div class="card-body">

            {% if low_stock_products %}

                <ul class="list-group">
                    {% for product in low_stock_products %}
                        <li class="list-group-item d-flex justify-content-between">
                            {{ product.name }}
                            <span class="badge bg-danger">
                                {{ product.stock_quantity }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p class="text-success">All stock levels are healthy</p>
            {% endif %}

        </div>
    </div>

    <!-- Dead Stock Section -->
    <div class="card mt-4 border-danger">
        <div class="card-header bg-danger text-white">
            🧱 Dead Stock (No sales in 30+ days)
        </div>

        <div class="card-body">

            {% if dead_stock_products %}

                <ul class="list-group">
                    {% for product in dead_stock_products %}
                        <li class="list-group-item d-flex justify-content-between">
                            {{ product.name }}

                            <span class="badge bg-dark">
                                Stock: {{ product.stock_quantity }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p class="text-success">No dead stock </p>
            {% endif %}

        </div>
    </div>

    <!-- Reorder Suggestions Section -->
    <div class="card mt-4 border-warning">
        <div class="card-header bg-warning">
            Reorder Suggestions
        </div>

        <div class="card-body">

            {% for item in reorder_suggestions %}
                <div class="d-flex justify-content-between mb-2">
                    <span>{{ item.product.name }}</span>
                    <span class="badge bg-dark">
                        Reorder: {{ item.suggested_qty }}
                    </span>
                </div>
            {% empty %}
                <p>No reorder needed </p>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}
