{% extends "base.html" %}

{% block content %}

<h1>SmartDuka Dashboard</h1>
<h2>Today's Sales Insights</h2>

<div class="grid">

    <div class="stat">
        <h3>Sales Today</h3>
        <p>{{ daily_sales.total_sales_count }}</p>
    </div>

    <div class="stat">
        <h3>Revenue Today</h3>
        <p>KES {{ daily_sales.total_revenue }}</p>
    </div>

    <div class="stat">
        <h3>Profit Today</h3>
        <p>KES {{ daily_sales.total_profit }}</p>
    </div>

    <div class="stat">
        <h3>Credit Sales</h3>
        <p>{{ daily_sales.credit_sales_count }}</p>
    </div>

</div>

<h2>Credit Insights</h2>

<div class="grid">

    <div class="stat">
        <h3>Total Outstanding Credit</h3>
        <p>KES {{ outstanding_credit }}</p>
    </div>

    <div class="stat">
        <h3>Customers Owing</h3>
        <p>{{ customers_with_balances|length }}</p>
    </div>

</div>

<div class="card">

    <h2>Top Debtors</h2>

    {% if top_debtors %}
        <ul>

            {% for customer in top_debtors %}

                <li>
                    {{ customer.name }}
                    -
                    KES {{ customer.outstanding_balance }}
                </li>

            {% endfor %}

        </ul>

    {% else %}

        <p>No outstanding balances.</p>

    {% endif %}

</div>

<div class="grid">

    <div class="stat">
        <h3>Total Products</h3>
        <p>{{ summary.total_products }}</p>
    </div>

    <div class="stat">
        <h3>Low Stock</h3>
        <p>{{ summary.low_stock_count }}</p>
    </div>

    <div class="stat">
        <h3>Dead Stock</h3>
        <p>{{ summary.dead_stock_count }}</p>
    </div>

    <div class="stat">
        <h3>Total Stock Units</h3>
        <p>{{ summary.total_stock_items }}</p>
    </div>

</div>

<div class="card">
    <h2>Low Stock Products</h2>

    {% if low_stock_products %}
        <ul>
            {% for product in low_stock_products %}
                <li>{{ product.name }} — Stock: {{ product.stock_quantity }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No low stock items</p>
    {% endif %}
</div>

<div class="card">
    <h2>Dead Stock Products</h2>

    {% if dead_stock_products %}
        <ul>
            {% for product in dead_stock_products %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No dead stock items</p>
    {% endif %}
</div>

{% endblock %}
